<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
     <h1>Het its the <%= day%>, its time to <%= doActivity%>.</h1>
     <%= varriable %>                            // JS output
     <%= console.log("hello) %>                  // JS Execute
     <%=- <h1>Hello</h1>  %>                     // Render HTML
     <%%%  %%>                                   // Show the EJS tag                
     <%=#  %>                                    // THis is a comment
     <%- Include("Filename")  %>                 // Include file
</body>
</html>